@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Raleway:wght@600;700&family=Roboto:wght@500;700&display=swap');


.picture2{
    background-image: url("https://res.cloudinary.com/dekbvdqnb/image/upload/v1636622752/felix-mittermeier-nAjil1z3eLk-unsplash_1_kdoqjk.png");
  width: 100%;
    height: 100vh;
}

.but2{
    width: 200px;
height: 69px;
background: rgba(0, 0, 0, 0.1);
border: 4px solid #FF9000;
box-sizing: border-box;
border-radius: 8px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
font-variant: small-caps;

color: #FFFFFF;
}

.punchlines1{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 61px;
/* identical to box height */


color: #FFFFFF;
}

.pictures12{
    background-image: url("https://res.cloudinary.com/dremo/image/upload/v1636105459/Zuga_Mockup_2_ggtcvf.png");
    width: 100%;
      height: 100vh;
      
}

.punchlines20{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 61px;

color: #FFFFFF;
}

.sub-lines20{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 61px;

color: #FFFFFF;
}

.pictures13{
    background-image: url("https://res.cloudinary.com/dremo/image/upload/v1636105477/Web_Mockup_26_lly9h0.png");
    width: 100%;
      height: 100vh;
      
}

.punchlines21{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 61px;
    
    color: #FFFFFF;
}

.pictures14{
    background-image: url("https://res.cloudinary.com/dremo/image/upload/v1636105484/flying_car_3_pdad4f.png");
    width: 100%;
      height: 100vh;
      
}

.punchlines22{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 61px;
    
    color: #FFFFFF;
}

.pictures16{
    background-image: url("https://res.cloudinary.com/dremo/image/upload/v1636724667/1812217482_1_rl6j43.png");
    width: 100%;
      height: 100vh;
      
}

.punchlines23{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 61px;
    
    color: #FFFFFF;
}

.pictures17{
    background-image: url("https://res.cloudinary.com/dremo/image/upload/v1634903253/future4_2_l9rqpc.png");
    width: 100%;
      height: 100vh;
      
}

.punchlines24{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 61px;
    
    color: #FFFFFF;
}

.sub-lines21{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 61px;
    
    color: #FFFFFF;
}