@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Raleway:wght@600;700&family=Roboto:wght@500;700&display=swap');

video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    /* background-size: 100%; */
    /* position: fixed; */
    /* top: 0;
    left: 0; */
}



.parent-box1 {
    width: 100vw;
    /* z-index: 1 !important; */
    position: absolute;
    bottom: 1%;
  
    /* top: 500%; */
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
}

.video-container {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1 ;

}

.parent-box2 {
    width: 100vw;
    /* z-index: -1 !important; */
    position: absolute;
   
    bottom: -101%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    
}

.parent-box3 {
    width: 100vw;
    /* z-index: -1 !important; */
    position: absolute;
   
    bottom: -201%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    
}


.parent-box4 {
    width: 100vw;
    /* z-index: -1 !important; */
    position: absolute;
   
    bottom: -301%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    
}

.parent-box5 {
    width: 100vw;
    /* z-index: -1 !important; */
    position: absolute;
   
    bottom: -401%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    
}

.parent-box6 {
    width: 100vw;
    /* z-index: -1 !important; */
    position: absolute;
   
    bottom: -501%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    
}

.parent-box7 {
    width: 100vw;
    /* z-index: -1 !important; */
    position: absolute;
   
    bottom: -601%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    
}

.mute-box {
    width: 25vw;
    display: flex;
}

.mute-img {
 
    align-self: flex-end;
    /* float: right !important; */
    
    
    
}

.text-box {
    width: 75vw;
}






.section1 {
    /* background-image: url('https://res.cloudinary.com/not-set/image/upload/v1634900141/IMG_20210805_173028_746_1_vzx1n2.png'); */
    height: 100vh;
    width: 100vw;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 54vh;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .mobile-no {
        display: none;
    }

    .mute {
        height: 26px !important;
        margin-top: 175px !important;
    }

    .mute-mobile-yes {
        height: 26px !important;
        margin-top: 240px !important;

    }

    .services-button-text {
        font-family: Roboto;
        font-style: Medium;
        font-size: 15px !important;

        border-color: #FF9000 !important;
        
    }

    .services-button-text:hover {
    
        background-color: #FF9000 !important;
    }
    


}


.services-button-text {
    font-family: Roboto;
    font-style: Medium;
    font-size: 17px;

    border-color: #FF9000 !important;
}

.services-button-text:hover {
    
    background-color: #FF9000 !important;
}







.mute2 {
    height: 33px;
    margin-top: 74%;
    float: right;
}

.mute {
    height: 33px;
    margin-top: 13%;
}


.line1 {
    font-family: Raleway;
    font-style: Bold;
    font-size: 52px;
    line-height: 61px;
}


.services-image1 {
    background-image: url('https://res.cloudinary.com/dekbvdqnb/image/upload/v1636622752/felix-mittermeier-nAjil1z3eLk-unsplash_1_kdoqjk.png');


}

.services-image2 {
    background-image: url('https://res.cloudinary.com/dremo/image/upload/v1636105459/Zuga_Mockup_2_ggtcvf.png');
}

.services-image3 {
    background-image: url('https://res.cloudinary.com/dremo/image/upload/v1636105477/Web_Mockup_26_lly9h0.png');
}

.services-image4 {
    background-image: url('https://res.cloudinary.com/dremo/image/upload/v1636105484/flying_car_3_pdad4f.png');
}

.services-image5 {
    background-image: url('https://res.cloudinary.com/dremo/image/upload/v1636724667/1812217482_1_rl6j43.png');
}

.services-image6 {
    background-image: url('https://res.cloudinary.com/dremo/image/upload/v1634903253/future4_2_l9rqpc.png');
}
