

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    
    

}

.overall {
    
    
   filter: brightness(50%);
   
       
}




.parent-box1 {
    width: 100vw;
    
    position: absolute;
    bottom: 1%;
  
    /* top: 500%; */
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
}

.video-container {
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    /* opacity: 100%; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

}

.parent-box2 {
    width: 100vw;
    
    position: absolute;
   
    bottom: -101%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    
}

.mute-box {
    width: 25vw;
    display: flex;
}

.mute-img {
 
    align-self: flex-end;
    /* float: right !important; */
    
    
    
}

.text-box {
    width: 75vw;
    color: white;
    
    filter: brightness(100%);
}










.section1 {
    /* background-image: url('https://res.cloudinary.com/not-set/image/upload/v1634900141/IMG_20210805_173028_746_1_vzx1n2.png'); */
    height: 100vh;
    width: 100vw;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 54vh;

}


.line3 {
    font-family: Roboto;
    font-style: Bold;
    font-size: 24px;
    line-height: 28px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .mobile-no {
        display: none;
    }

    .mute {
        height: 26px !important;
        margin-top: 167px !important;
    }

    .remute {
        height: 26px !important;
        margin-top: 230px !important;

    }

    

    .websites-button-text {
        font-family: Roboto;
        font-style: Medium;
        font-size: 9px;
        
    }


}


.websites-button-text {
    font-family: Roboto;
    font-style: Medium;
    font-size: 1.8rem;
}






.mute2 {
    height: 33px;
    margin-top: 74%;
    float: right;
}

.mute {
    height: 33px;
    margin-top: 13%;
}


.line1 {
    font-family: Raleway;
    font-style: Bold;
    font-size: 36px;
    line-height: 42px;

}


.websites-image1 {
    background-image: url('https://res.cloudinary.com/dremo/image/upload/v1636105477/Web_Mockup_26_lly9h0.png');


}

.websites-image2 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643813884/Rectangle_101_d9rxhj.png');
}

.websites-image3 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643813973/Rectangle_103_sltfup.png');
}

.websites-image4 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1644424536/Rectangle_72_l1d1mj.png');
}

.websites-image5 {
    background-image: url('https://res.cloudinary.com/dremo/image/upload/v1636724667/1812217482_1_rl6j43.png');
}

.websites-image6 {
    background-image: url('https://res.cloudinary.com/dremo/image/upload/v1634903253/future4_2_l9rqpc.png');
}
