.pictur200{
    background-image: url("https://res.cloudinary.com/dremo/image/upload/v1636105459/Zuga_Mockup_2_ggtcvf.png");
  width: 100%;
    height: 120vh;
    
     
  }

  .picturet200{
    background-image: url("https://res.cloudinary.com/dremo/image/upload/v1637148019/IMG_0107_2_ludxht.png");
  width: 100%;
    height: 120vh;
    
     
  }

  .pictures500{
    background-image: url("https://res.cloudinary.com/dremo/image/upload/v1637148019/IMG_0107_2_ludxht.png");
  width: 100%;
    height: 120vh;
    
     
  }

  .picture600{
    background-image: url("https://res.cloudinary.com/dremo/image/upload/v1637148015/IMG_0107_3_f5v7g0.png");
  width: 100%;
    height: 120vh;
    
     
  }