

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* position: fixed; */
    top: 0;
    left: 0;
}

.upon {
    z-index: -1 !important;
}

.ontop {
    z-index: 1 !important;
}

.section1 {
    /* background-image: url('https://res.cloudinary.com/not-set/image/upload/v1634900141/IMG_20210805_173028_746_1_vzx1n2.png'); */
    height: 100vh;
    width: 100vw;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 54vh;

}

.line3 {
    font-family: Roboto;
    font-style: Bold;
    font-size: 24px;
    line-height: 28px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .mobile-no {
        display: none;
    }

    .mute {
        height: 26px !important;
        margin-top: 175px !important;
    }

    .mute-mobile-yes {
        height: 26px !important;
        margin-top: 240px !important;

    }

    .products-button-text {
        font-family: Roboto;
        font-style: Medium;
        font-size: 9px;
        
    }


}


.products-button-text {
    font-family: Roboto;
    font-style: Medium;
    font-size: 1.8rem;
}






.mute2 {
    height: 33px;
    margin-top: 74%;
    float: right;
}

.mute {
    height: 33px;
    margin-top: 13%;
}


.line1 {
    font-family: Raleway;
    font-style: Bold;
    font-size: 36px;
    line-height: 42px;

}


/* .product-image1 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643293111/Rectangle_194_ihhyb6.png');


} */

.product-image1 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643720296/IMG_0107_3_btoi46.png');


}

.product-image2 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643720087/Desktop_-_1_12_1_1_r018nx.png');
}

.product-image3 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643645580/Rectangle_195_jnyk86.png');
}

.product-image4 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643645922/Rectangle_196_zuy7fu.png');
}

.product-image5 {
    background-image: url('https://res.cloudinary.com/dremo/image/upload/v1636724667/1812217482_1_rl6j43.png');
}

.product-image6 {
    background-image: url('https://res.cloudinary.com/dremo/image/upload/v1634903253/future4_2_l9rqpc.png');
}
