
.pictur70{
    background-image: url("https://res.cloudinary.com/dekbvdqnb/image/upload/v1636722653/flying_car_2_u2erbx.png");
  width: 100%;
    height: 120vh;
    
              
  }
  .picturet7{
    background-image: url("https://res.cloudinary.com/dekbvdqnb/image/upload/v1636723495/watch_xqhvph.png");
  width: 100%;
    height: 120vh;
    
     
  }
  .pictures5{
    background-image: url("https://res.cloudinary.com/dekbvdqnb/image/upload/v1636723776/chairwhite_side_2_ko0iip.png");
  width: 100%;
    height: 125vh;
    background-repeat: no-repeat;     
    
     
  }
  .picture44{
    background-image: url("https://res.cloudinary.com/dekbvdqnb/image/upload/v1636724129/untitled_2_qgblqy.png");
  width: 100%;
    height: 125vh;
    background-repeat: no-repeat;     
    
     
  }
 
.punchlines {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    
    color: #FFFFFF; 

}
.sub-lines {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
} 
.punchbox2 {
   
    top: 170%;
   
   
    /* text-align: center; */
}
.punchlines2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    
    color: #FFFFFF; 

}
.sub-lines2 {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
} 
.veer{
    padding-top: 35%;
}
.veers{
    padding-top: 35%;
}
.stoped21{
    position: absolute;
    left: 90%;
    margin-top: -25px;
   }
   .stoped2{
    position: absolute;
    left: 90%;
    margin-top: -25px;
   }
   .stoped{
    position: absolute;
    left: 90%;
    margin-top: -25px;
   }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {

    .section2-mobile-yes {
        display: block;
        color: white;
        position: absolute;
        bottom: -110%;
        left: 7%;
        /* line-height: 3px; */
        font-size: 138px;
    }
    .veer{
        padding-top: 90%;
    }
    .veers{
        padding-top: 100%;
        font-size: 60px;
    }
    .section2-mobile-inner {
        font-size: 24px;
        margin-bottom: 34px;
        line-height: 39px;

    }

    .subline2 {
        line-height: 39px;
    }

    .section3-mobile-yes {
        /* background-color: red; */
        display: block;
        color: white;
        position: absolute;
        bottom: -207%;
        left: 7%;
        /* line-height: 3px; */
        font-size: 138px;
    }

    .section3-mobile-inner {
        font-size: 24px;
        margin-bottom: 34px;
        line-height: 39px;

    }


   
    .section2-box1-inner {
        margin-top: 30%;
        margin-left: 10%;
        color: white;
    
    }
   
    .mobile-yes {
        display: block;
    }

    .yes {
        font-size: 30px;
        display: flex;
        align-items: center;
        /* background-color: blue; */
    }


    .mobile-no {
        display: none;
    }

    .punchbox {
        position: absolute;
        top: 70%;
        left: 20%;
        transform: translate(-15%, -50%);
        /* text-align: center; */
    }

    .punchbox4 {
        /* background-color: red; */
        position: absolute;
        top: 378%;
        left: 20%;
        transform: translate(-15%, -50%);
        /* text-align: center; */
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      #main {
        transition: margin-right .5s;
        padding: 16px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      .xl{
          cursor: pointer;
      }

    .mute {
        height: 30px;
        position: absolute;
        left: 86%;
        top: 89%;
    }
    .stoped21{
        height: 30px;
        position: absolute;
        left: 86%;
        top: 197%;
    }
    .stoped2{
        height: 30px;
        position: absolute;
        left: 86%;
        top: 295%;
    }   
    .stoped{
        height: 30px;
        position: absolute;
        left: 86%;
        top: 395%;
    }
    .mute123 {
        height: 30px;
        position: absolute;
        left: 86%;
        top: 92%;
    }

    .no-break-mobile {
        display: none;
    }

    .section2-box2 {
        height: 100vh;
    }

    .section2-box1 {
        display: none;
        /* height: 50vh; */
        /* background: linear-gradient(rgba(73, 73, 73, 0.5), rgba(73, 73, 73, 0.5)), url(''); */
    }

    

    
}





