

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    
    /* background-size: 100%; */
    /* position: fixed; */
    /* top: 0;
    left: 0; */
}





/* .parent-box1 {
    width: 50vw; */
    /* CURRENTz-index: 4 !important; */
    /* position: absolute;
    bottom: 1%; */
    /* border: solid red; */
  
    /* top: 500%; */
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */

    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
/* } */

.video-container {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    position: relative;
    
}

.video-container video{
    position: relative;
    z-index: 0;
}
.overlay{
    width: 100vw;
    position: absolute;
    bottom: 5rem;
    left: 0;
    z-index: 1;
}

/* .parent-box2 {
    width: 100vw;
    CURENTz-index: 4 !important;
    position: absolute;
   
    bottom: -101%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    
} */
/* .parent-box3 {
    width: 100vw;
    CURENTz-index: 4 !important;
    position: absolute;
   
    bottom: -201%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    
} */
/* .parent-box {
    width: 100vw;
    CURENTz-index: 4 !important;
    position: absolute;
   
    bottom: -101%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    
} */

.mute-box {
    width: 25vw;
    display: flex;
    /* border: solid white; */
    padding-right: 2rem;
    justify-content: flex-end;   
}

.mute-img {
    align-self: flex-start;
    /* float: right !important; */
    margin-bottom: 3rem;
    cursor: pointer;
    
}

.text-box {
    width: 75vw;
    
}







/* .section1 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1634900141/IMG_20210805_173028_746_1_vzx1n2.png');
    height: 100vh;
    width: 100vw;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 54vh;

} */

.line3 {
    font-family: Roboto;
    /* font-style: Bold; */
    font-size: 24px;
    line-height: 28px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .mobile-no {
        display: none;
    }

    .mute {
        height: 26px !important;
        margin-top: 175px !important;
    }

    .mute-mobile-yes {
        height: 26px !important;
        margin-top: 240px !important;

    }

    .modelling-button-text {
        font-family: Roboto;
        font-style: Medium;
        font-size: 9px;
        
    }

    .text-box{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

}


.modelling-button-text {
    font-family: Roboto;
    font-style: Medium;
    font-size: 1.8rem;
}






.mute2 {
    height: 33px;
    margin-top: 74%;
    float: right;
}

.mute {
    height: 33px;
    margin-top: 13%;
}


.line1 {
    font-family: Raleway;
    font-style: Bold;
    font-size: 36px;
    line-height: 42px;

}


.modelling-image1 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643814254/Military_Drone-1_1_lg20vr.png');


}

.modelling-image2 {
    background-image: url('https://res.cloudinary.com/dekbvdqnb/image/upload/v1636723495/watch_xqhvph.png');
}

.modelling-image3 {
    background-image: url('https://res.cloudinary.com/dekbvdqnb/image/upload/v1636723776/chairwhite_side_2_ko0iip.png');
}

.modelling-image4 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643723062/Rectangle_124_1_t7t4hi.png');
}

.modelling-image5 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643294619/untitled_3_xjthgs.png');
}

.modelling-image6 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643723037/Rectangle_125_4_es7mgn.png');
}

.modelling-image7 {
    background-image: url('https://res.cloudinary.com/dekbvdqnb/image/upload/v1636722653/flying_car_2_u2erbx.png');


}
