
.vred{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 35px;

color: rgba(33, 33, 33, 0.22);

}
.contact{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 61px;
/* identical to box height */


color: #212121;

}
.buttons{
    background: #FFFFFF;
border: 4px solid #FF9000;
box-sizing: border-box;
border-radius: 8px;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 42px;

color: #000000;

}