@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.lastted {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
}

.footer{
    border-bottom: solid #FF9000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



.slide-container{
    height: 100%;
}

.each-slide{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
}

.carousel-image-small{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

.slide-box{
    border-radius: 20px;
    background: #fafafa;
    box-shadow:  20px 20px 60px #d5d5d5, -20px -20px 60px #ffffff;
    text-align: center;
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
}
.testimonial{
    padding: 20px;
    text-align: justify;
    font-size: 12px;
}

.testimonial, .client-name, .client-position{
    margin-bottom: 0.5rem;;
}

.profile{
    height: 40%;
    text-align: center;
    line-height: 4rem;
}
.colors{
    background-color: #FF9000;
}
.fot{
    font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 10px;
color: #000000;

margin-top: 10px;
margin-bottom: 5px;

}

.down:hover {
    font-weight: 300;
}

.socials{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.socials img{
    width: 40px;
    height: 40px;
}

.carl{
    font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;
}
.ca{
    font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

/* margin-top: 20px !important; */
/* margin-bottom: 20px !important; */

color: #000000
}
.ph-yes{
    display: none;
}
.mobile-y{
    display: none;
}
.mobile-nop{
    display: none;
}

.imgsss{
    width: 70%;
    height: 500px;
}
.view{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;
}

.copyright{
    background-color:#FF9000;
    text-align: center;
    font-weight: 500;
    word-spacing: .6rem;
    color: white;
}

.copyright_spacing{
    margin-left: .24rem;
}

@media only screen and (max-width: 600px) {
    .slide-container{
        height: 70%;
    }

    .footer-container{
        height: 30%;
        display: flex;
    }

    .carousel-image-small{
        height: 55px;
        width: 55px;
        margin-top: 20px;
    }

    .each-slide{
        height: 500px;
        align-items: flex-end;
    }


    .testimonial, .client-name, .client-position{
        font-size: 12px;
        margin-bottom: 1rem;
    }

    .slide-box{
        border-radius: 20px;
        width: 350px;
        height: 340px;
    }

    .socials{
        width: 155px;
    }

    .socials img{
        width: 30px;
        height: 30px;
    }
   
    #futurelabs_logo{
        display: none;
    }
    .sign-up{
        display: none;
    }
    .ca{
        display: block;
        
        font-size: 14px;
        line-height: 15px;

        margin-top: 2px !important;
        margin-bottom: 3px !important;

        color: #000000        
    } 
    

    .show-text{
        display: block;
        /* justify-content: space-around; */

    }
    .ph-no{
        display: flex;
        /* border: solid black; */
        /* justify-content: center; */
    }
    .vid{
        margin-left: -3px;
        /* border: solid red; */
    }
    .mobile-yest{
        display: none;
    }
    .mobile-nop{
        display: none;
    }
    .monile-nop3{
        display: none;
    }
    .lastted{

            font-family: 'Inter';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            margin-right: 1.2rem;
       
    }
    /* .footer{
        margin-top: 30rem;
    } */
}