@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.lastted {
    /* font-size: small; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
}

.footer{
    border-bottom: solid #FF9000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* display: grid;
    grid-template-rows: 60vh 35vh 5vh; */
}

.container--carousel{  
    height: 100%;
    display: flex;
    margin-bottom: 55px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
}

.carousel-item{
    height: 100%;  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background-effect{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 144, 0, 0.5);
}

.carousel-image-small{
    border-radius: 50%;
}
.carousel-caption{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
}

.profile{
    height: 40%;
    text-align: center;
    line-height: 4rem;
}
.colors{
    background-color: #FF9000;
}
.fot{
    font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 10px;
color: #000000;

margin-top: 10px;
margin-bottom: 5px;

}

.down:hover {
    font-weight: 300;
}

.carl{
    font-family: 'Inter';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;
}
.ca{
    font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

margin-top: 20px !important;
margin-bottom: 20px !important;

color: #000000
}
.ph-yes{
    display: none;
}
.mobile-y{
    display: none;
}
.mobile-nop{
    display: none;
}

.imgsss{
    width: 70%;
    height: 500px;
}
.view{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #000000;
}

.copyright{
    background-color:#FF9000;
    text-align: center;
    font-weight: 500;
    word-spacing: .6rem;
    color: white;
}

.copyright_spacing{
    margin-left: .24rem;
}

@media only screen and (max-width: 600px) {
    /* .container--carousel{
        display: none;
    } */
    .container--carousel{  
        height: 100%;
        display: flex;
        margin-bottom: 10px;
        /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    }
    #futurelabs_logo{
        display: none;
    }
    .sign-up{
        display: none;
    }
    .ca{
        display: block;
        
        font-size: 14px;
        line-height: 15px;

        margin-top: 2px !important;
        margin-bottom: 3px !important;

        color: #000000        
    } 
    
    #social-media__image{
        width: 20px;
        
    }

    .show-text{
        display: block;
        /* justify-content: space-around; */

    }
    .ph-no{
        display: flex;
        /* border: solid black; */
        /* justify-content: center; */
    }
    .vid{
        margin-left: -3px;
        /* border: solid red; */
    }
    .mobile-yest{
        display: none;
    }
    .mobile-nop{
        display: none;
    }
    .monile-nop3{
        display: none;
    }
    .lastted{

            font-family: 'Inter';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            margin-right: 1.2rem;
       
    }
    /* .footer{
        margin-top: 30rem;
    } */
}