@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    overflow-x: hidden;
}

.horizontal {
    height: 23px;
    width: 2px;
    background-color: rgb(197, 196, 194);
}

.section1 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1634900141/IMG_20210805_173028_746_1_vzx1n2.png');
    height: 100vh;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;

}

.section4 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1635175877/FUTURELABS_1_gl3n9e.png');
    height: 100vh;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    /* width: 100vw; */
    /* background-repeat: no-repeat; */

}

/* .section4 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1634900141/IMG_20210805_173028_746_1_vzx1n2.png');
    height: 100vh;
    background-position: center;
    object-fit: cover;

} */

.nav {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 34px;
    padding-right: 34px;
    position: fixed;
    width: 100%;
    z-index: 1;
    
    
}



.sub-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1634900477/Futurelabs-logo_1_szyxc8.png');
    height: 20px;
    width: 140px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}

.section2 {
    height: 100vh;
}

.section4 {
    height: 100vh;
}

.image4 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1635168144/IMG_0106_1_aivo5q.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    object-fit: cover;
}






/* .section3 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1635175877/FUTURELABS_1_gl3n9e.png');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    height: 100vh;
} */

.image2 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1635168144/IMG_0106_1_aivo5q.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    object-fit: cover;
}

.image3 {
    
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1635169888/IMG_0114_2_bdbi34.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    object-fit: cover;
}

/* .image3 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1635168144/IMG_0106_1_aivo5q.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    object-fit: cover;
} */

/* .image4 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1635169430/IMG_0133_1_i0aqab.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    object-fit: cover;
} */

/* .image5 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1635169888/IMG_0114_2_bdbi34.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    object-fit: cover;
} */

.mute {
    height: 30px;
    position: absolute;
    left: 90%;
    top: 70%;
}

.section2-mute {

    height: 30px;
    margin-top: 87%;
    margin-left: 86%;
}

/* .mute-position {
    display: flex;
    position: absolute;
    top: 84%;
    left: 87%;

} */

.punchbox {
    position: absolute;
    top: 68%;
    left: 22%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
}

.punchbox4 {
    /* background-color: red; */
    position: absolute;
    top: 368%;
    left: 22%;
    transform: translate(-50%, -50%);
}

.section2-box1-inner {
    margin-top: 40%;
    margin-left: 13%;

}


.menu {
    width: 26px;
    height: 2px;
    background-color: rgb(247, 17, 17);
    margin: 6px 0;
}

.punchline {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 45px;

}

.mobile-yes {
    display: none;
}

.no {
    display: flex;
    align-items: center;
}



/* .line1 {
    margin-top: 300px;
}*/

.down-line {
    font-family: Raleway;
    font-style: normal;

}

.sub-line {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 34px;
} 

.section2-mobile-yes {
    display: none;
}

.section3-mobile-yes {
    display: none;
}

/* .talk {
    line-height: 47px;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
} */

/* .below {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;


color: #212121;
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {

    .section2-mobile-yes {
        display: block;
        color: white;
        position: absolute;
        bottom: -88%;
        left: 7%;
        /* line-height: 3px; */
        font-size: 138px;
    }

    .section2-mobile-inner {
        font-size: 24px;
        margin-bottom: 34px;
        line-height: 39px;

    }

    .section3-mobile-yes {
        /* background-color: red; */
        display: block;
        color: white;
        position: absolute;
        bottom: -182%;
        left: 7%;
        /* line-height: 3px; */
        font-size: 138px;
    }

    .section3-mobile-inner {
        font-size: 24px;
        margin-bottom: 34px;
        line-height: 39px;

    }

    .section2-mute {
        height: 30px;
        margin-top: 190%;
        margin-left: 86%;
    }

    .section2-box1-inner {
        margin-top: 30%;
        margin-left: 10%;
        color: white;
    
    }
   
    .mobile-yes {
        display: block;
    }

    .yes {
        font-size: 30px;
        display: flex;
        align-items: center;
        /* background-color: blue; */
    }


    .mobile-no {
        display: none;
    }

    .punchbox {
        position: absolute;
        top: 70%;
        left: 20%;
        transform: translate(-15%, -50%);
        /* text-align: center; */
    }

    .punchbox4 {
        /* background-color: red; */
        position: absolute;
        top: 368%;
        left: 20%;
        transform: translate(-15%, -50%);
        /* text-align: center; */
    }

    .mute {
        height: 30px;
        position: absolute;
        left: 86%;
        top: 89%;
    }

    .no-break-mobile {
        display: none;
    }

    .section2-box2 {
        height: 100vh;
    }

    .section2-box1 {
        display: none;
        /* height: 50vh; */
        /* background: linear-gradient(rgba(73, 73, 73, 0.5), rgba(73, 73, 73, 0.5)), url(''); */
    }

    /* .image2 {
        height: 50vh;
        background-size: cover;
        padding: 0;
    }
     */

    
}




/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 767px) {

    .android {
        height: 50vh;
        line-height: 20px;
    }
    
    .image2 {
        height: 50vh;
        background-size: cover;
        padding: 0;
    }

    .image3 {
        height: 50vh;
        background-size: cover;
        padding: 0;
    }

    .image4 {
        height: 50vh;
        background-size: cover;
        padding: 0;
    }

    .image5 {
        height: 50vh;
        background-size: cover;
        padding: 0;
    }

    .section3 {
        height: 50vh;
        background-size: cover;
        padding: 0;
    }
    
} */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 290px) {
   
    .yes {
        font-size: 24px;
        display: flex;
        align-items: center;
        /* background-color: blue; */
    }

    .menu {
        width: 20px;
        height: 2px;
        background-color: rgb(247, 17, 17);
        margin: 4px 0;
    }

    .nav {
        
        padding-left: 12px;
        padding-right: 12px;
        
        
        
    }

    .horizontal {
        height: 15px;
        width: 2px;
    }


    
}



