@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    overflow-x: hidden;
}

.horizontal {
    height: 23px;
    width: 2px;
    background-color: rgb(139, 139, 138);
}

.section1 {
    background-image: url('https://res.cloudinary.com/dekbvdqnb/image/upload/v1634902250/IMG_20210805_173028_746_1_dxm6ou.png');
    height: 100vh;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;

}

.section4 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1635175877/FUTURELABS_1_gl3n9e.png');
    height: 100vh;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100vw; */
    /* background-repeat: no-repeat; */

}
.section45{
    background-image: url('https://res.cloudinary.com/dekbvdqnb/image/upload/v1635338077/Web_Mockup_26_jwclbt.png');
    height: 100vh;
    
    background-repeat: no-repeat;
    background-size: 100%;
   
}

.mute123{
    position: absolute;
    left: 270%;
    margin-top: -25px;
}
.nav {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 34px;
    padding-right: 34px;
    position: fixed;
    width: 100%;
    z-index: 1;
    
    
}



.sub-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1634900477/Futurelabs-logo_1_szyxc8.png');
    height: 20px;
    width: 140px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}
.noise{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 28px;

color: #FFFFFF;


}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar {
    width: 15px;
    height: 60px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px grey; 
    border-radius: 10px;
  }
   
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c97508; 
    height: 60px;
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }
.section2 {
    height: 100vh;
    /* background-color: blue; */
}

.section4 {
    height: 100vh;
}

.image4 {
    background-image: url('https://res.cloudinary.com/dekbvdqnb/image/upload/v1635263833/FUTURELABS_2_wbpdtu.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    object-fit: cover;
}







.image2 {
    background-image: url('https://res.cloudinary.com/dekbvdqnb/image/upload/v1635244491/Rectangle_9_1_seqaw7.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    object-fit: cover;
}

.image3 {
    
    background-image: url('https://res.cloudinary.com/dekbvdqnb/image/upload/v1635263833/FUTURELABS_2_wbpdtu.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    object-fit: cover;
}




.mute {
    height: 60px;
    position: absolute;
    left: 90%;
    margin-top: 10%;
}
.mutes {  
    
    position: absolute;
    left: 270%;
    top: 85%;
}

.text-box {
    height: 147px;
}

.form-control {
    border: 2px solid;
    border-color: rgb(252, 202, 166);
}

.foot {
    background-color: #FF9000;
    height: 42px;
}

.contact {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 61px;
    /* identical to box height */
    margin-top:  300px;
    color: #212121;
    
}

.submit {
    width: 30%;
    border: 3px solid;
    border-color: #FF9000;
    background-color: white;
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 42px;

color: #000000;

}
.piks{
    margin-top: 43%;
}
.last {
    /* font-size: small; */
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.fonty {
    font-family: Raleway !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 28px !important;
    font-variant: small-caps !important;

    /* color: #212121 !important; */
}
.fontys {
    font-family: Raleway !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 40px  !important;
    line-height: 28px !important;        
    font-variant: small-caps !important;
    /* color: #212121 !important; */
}
.fonty2{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #212121;
}
.but{
    width: 200px;
height: 69px;
background: #FFFFFF;
border: 4px solid #FF9000;
box-sizing: border-box;
border-radius: 8px;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
font-variant: small-caps;

color: #000000;
}

.email {
    background-color: #FF9000;
    border: none;

}

.section2-mute {
/* 87top */
    height: 30px;
    margin-top: 112%;
    margin-left: 86%;
}

.mutty {
    height: 30px;
}
.textss{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;


color: #212121;
      
}

/* .mute-position {
    display: flex;
    position: absolute;
    top: 84%;
    left: 87%;

} */

.punchbox {
    position: absolute;
    top: 68%;
    left: 22%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
}

.punchbox4 {
    /* background-color: red; */
    position: absolute;
    top: 368%;
    left: 22%;
    transform: translate(-50%, -50%);
}

.section2-box1-inner {
    margin-top: 30%;
    margin-left: 13%;

}
.h{
    height: 450px;
}
.var{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 35px;

color: #212121;

}
.sli{
    width: 64px;
height: 6px;
background: #FF9000;
border-radius: 10px;
margin-top: -13px;
}
.vars{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #212121;

}

.menu {
    width: 26px;
    height: 2px;
    background-color: rgb(247, 17, 17);
    margin: 6px 0;
}

.punchline {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 45px;

}

.mobile-yes {
    display: none;
}

.no {
    display: flex;
    align-items: center;
}



/* .line1 {
    margin-top: 300px;
}*/



.sub-line {
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 60px;
} 

.section2-mobile-yes {
    display: none;
}

.section3-mobile-yes {
    display: none;
    
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {

    .section2-mobile-yes {
        display: block;
        color: white;
        position: absolute;
        bottom: -110%;
        left: 7%;
        /* line-height: 3px; */
        font-size: 138px;
    }
    
    .piks{
        display: none;
    }
    .mute{
        margin-top: 70%;
    }

    .section2-mobile-inner {
        font-size: 24px;
        margin-bottom: 34px;
        line-height: 39px;
        margin-top: 10%;
    }

    .subline2 {
        line-height: 39px;
    }

    .section3-mobile-yes {
        /* background-color: red; */
        display: block;
        color: white;
        position: absolute;
        bottom: -207%;
        left: 7%;
        /* line-height: 3px; */
        font-size: 138px;
    }

    .section3-mobile-inner {
        font-size: 24px;
        margin-bottom: 34px;
        line-height: 39px;

    }

    .section2-mute {
        height: 30px;
        margin-top: 190%;
        margin-left: 86%;
    }

    .section2-box1-inner {
        margin-top: 10%;
        margin-left: 10%;
        color: white;
    
    }
   
    .mobile-yes {
        display: block;
    }

    .yes {
        font-size: 30px;
        display: flex;
        align-items: center;
        /* background-color: blue; */
    }


    .mobile-no {
        display: none;
    }

    .punchbox {
        position: absolute;
        top: 70%;
        left: 20%;
        transform: translate(-15%, -50%);
        /* text-align: center; */
    }

    .punchbox4 {
        /* background-color: red; */
        position: absolute;
        top: 378%;
        left: 20%;
        transform: translate(-15%, -50%);
        /* text-align: center; */
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      #main {
        transition: margin-right .5s;
        padding: 16px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      .xl{
          cursor: pointer;
      }

    .mute {
        height: 30px;
        position: absolute;
        left: 86%;
        top: 89%;
    }
    .piks{
        display: none;
    }
    .no-break-mobile {
        display: none;
    }

    .section2-box2 {
        height: 100vh;

    }

    .section2-box1 {
        display: none;
        /* height: 50vh; */
        /* background: linear-gradient(rgba(73, 73, 73, 0.5), rgba(73, 73, 73, 0.5)), url(''); */
    }

    /* .image2 {
        height: 50vh;
        background-size: cover;
        padding: 0;
    }
     */

    
}




/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 767px) {

    .android {
        height: 50vh;
        line-height: 20px;
    }
    
    .image2 {
        height: 50vh;
        background-size: cover;
        padding: 0;
    }

    .image3 {
        height: 50vh;
        background-size: cover;
        padding: 0;
    }

    .image4 {
        height: 50vh;
        background-size: cover;
        padding: 0;
    }

    .image5 {
        height: 50vh;
        background-size: cover;
        padding: 0;
    }

    .section3 {
        height: 50vh;
        background-size: cover;
        padding: 0;
    }
    
} */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 290px) {
   
    .yes {
        font-size: 24px;
        display: flex;
        align-items: center;
        /* background-color: blue; */
    }

    .menu {
        width: 20px;
        height: 2px;
        background-color: rgb(247, 17, 17);
        margin: 4px 0;
    }
    .piks{
        display: none;
    }

    .nav {
        
        padding-left: 12px;
        padding-right: 12px;
        
        
        
    }

    .horizontal {
        height: 15px;
        width: 10px;
    }


    
}
.inputs{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 19px;  
line-height: 5px;
width: 642px;
height: 56px;
color: rgba(33, 33, 33, 0.22);
border: 2px solid rgba(255, 144, 0, 0.47);
box-sizing: border-box;

}
.sends{
    margin-top: 14%;
}
.inputss{
   
background: #FFFFFF;
border: 2px solid rgba(255, 144, 0, 0.47);
box-sizing: border-box;
border-radius: 8px;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 20px;
height: 290px;
color: rgba(33, 33, 33, 0.22);

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 750px) {
    .section2-mute {
        display: none;

    }

    .mutty {
        display: bloctio;
    }
}







/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sends{
        margin-top: 3rem;  
        margin-bottom: 20px;
        height: 60px;
        width: 100%;
        font-size: 30px;
    }
    .inputss{
        margin-top: 40px;
    }
    .sec{
        margin-top: -520px;
    }
}



