@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Raleway:ital,wght@0,600;0,700;1,700&family=Roboto:wght@500;700&display=swap');



.overall-half{
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%);
  
    

}

.blog_section{
    height: 100vh;
}


.video-container{
    position: relative;
}

.video-container video{
    position: relative;
    z-index: 0;
}

.overlay{
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}



.parent-box3-half {
    width: 50vw;
   
    position: absolute;
    bottom: -201%;
  
    /* top: 500%; */
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
}

.video-container-half {
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    /* opacity: 100%; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

}



.mute-box-half {
    width: 25%;
    display: flex;
    padding-left: 10%;
    padding-bottom: 10%;
}

.mute-img {
 
    align-self: flex-end;
    /* float: right !important; */
    
    
    
}

.text-box-half {
    visibility: hidden;
    width: 75%;
    color: white;
    
    filter: brightness(100%);
}









.section1 {
    /* background-image: url('https://res.cloudinary.com/not-set/image/upload/v1634900141/IMG_20210805_173028_746_1_vzx1n2.png'); */
    height: 100vh;
    width: 100vw;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 54vh;
   
    

}




.home-image1 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1634900141/IMG_20210805_173028_746_1_vzx1n2.png');


}

.home-image2 {
    /* background-image: url('https://res.cloudinary.com/dekbvdqnb/image/upload/v1635262165/Futurelabs-logo_2_fsvqs9.png'); */
    background-color: #FF9000;
}

.home-image3 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1635169888/IMG_0114_2_bdbi34.png');
}

.home-image4 {
    background-image: url('https://res.cloudinary.com/dremo/image/upload/v1634903253/future4_2_l9rqpc.png');
}

.home-image5 {
    background-image: url('https://res.cloudinary.com/dekbvdqnb/image/upload/v1635338077/Web_Mockup_26_jwclbt.png');
}

.home-image6 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1635169888/IMG_0114_2_bdbi34.png');
}

.home-image7 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1635175877/FUTURELABS_1_gl3n9e.png');
}

.section2 {
    height: 100vh;
    width: 100vw;
}

.sm-1, .sm-2 {
    width: 50vw;
    /* width: 100%; */
}

.contact{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 61px;
/* identical to box height */


color: #212121;

}

.sm-divider {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.vertical-centering {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.section2-image {
    /* background-image: url("https://res.cloudinary.com/dekbvdqnb/image/upload/v1637149802/IMG_0133_1_hysqkh.png"); */
    height: 100vh;
    width: 50vw;
    /* background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover; */
}

.mobile-yes {
    display: none;
}

.mobile-yes-1 {
    visibility: hidden;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .ungroup {
        visibility: visible;
        
    }


    .mobile-yes-1 {
        visibility: visible;
    }

    .mobile-no {
        display: none;
    }

    .mobile-yes {
        display: block;
    }

    .section2-image-mobile {
        /* background-image: url("https://res.cloudinary.com/dekbvdqnb/image/upload/v1637149802/IMG_0133_1_hysqkh.png"); */
        height: 100vh;
        width: 100vw;
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .vertical-centering {
        margin: 0;
        position: relative;
        top: 60%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .mute {
        height: 26px !important;
        margin-top: 175px !important;
    }

    .mute-mobile-yes {
        height: 26px !important;
        margin-top: 240px !important;

    }

    .line1 {
        font-family: Raleway !important;
        font-style: Bold !important;
        font-size: 25px !important;
        line-height: 35px !important;
    }
    
    .line2 {
        font-family: Poppins !important;
        font-style: Bold !important;
        font-size: 21px !important;
        line-height: 30px !important;
    }
    
    .line3 {
        font-family: Raleway !important;
        font-style: Bold !important;
        font-size: 15px !important;
        line-height: 24px !important;
        width: 14rem;
    }



    .line5 {
        font-family: Raleway !important;
        font-style: Medium !important;
        font-size: 15px !important;
        line-height: 40px !important;
    }
    

    .line6, .line4 {
        font-family: Roboto !important;
        font-style: Bold !important;
        font-size: 25px !important;
        line-height: 32px !important;
    }
    


}









.italicize {
    font-style: italic !important;
}

.horizontal-centering {
    padding-left: 103px;
}

.mute {
    height: 33px;
    margin-top: 13%;
}

.mute2 {
    height: 33px;
    margin-top: 74%;
    float: right;
}

.line1 {
    font-family: Raleway;
    font-style: Bold;
    font-size: 38px;
    line-height: 48px
}

.line2 {
    font-family: Poppins;
    font-style: Bold;
    font-size: 33px;
    line-height: 42px;

    
}

.line3 {
    font-family: Raleway;
    font-style: Bold;
    font-size: 17px;
    line-height: 15px;
}

.line4 {
    font-family: Roboto;
    font-size: 40px;
    line-height: 47px;
}


.line5 {
    font-family: Raleway;
    font-style: Medium;
    font-size: 30px;
    line-height: 50px;
}

.line6 {
    font-family: Roboto;
    font-style: Bold;
    font-size: 38px;
    line-height: 44px;
}








.Thumbnail-parent {
    height: 100vh;
}


.Thumbnail {
    height: 60%;
    background-image: url("https://res.cloudinary.com/dekbvdqnb/image/upload/v1637149802/IMG_0133_1_hysqkh.png");
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;

}

.under {
    height: 5px !important;
    margin-top: -2px;
    width: 70px;
    background-color: #FF9000 !important;


}

.mobile-no-thumb {
    display: none;

}

.home-button-text {
    font-family: Raleway;
    font-style: Medium;
    font-size: 17px;
   
   
    line-height: 35px;
    
    border-color: #FF9000 !important;
}

.home-button-text:hover {
    background-color: #FF9000 !important;
    color: white !important;
    
}

::-webkit-scrollbar {
   
    width: 10px;
    height: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-thumb {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 0;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #FF9000;
    /* border-radius: 5px; */
    height: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #FF9000;
    height: 10px;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    
    

    .home-button-text {
        font-family: Raleway;
        font-style: Medium;
        /* font-size: 4px; */

        color: white !important;
       
       
        /* line-height: 35px; */

        border-color: #FF9000 !important;


    }

    .home-button-text:hover {
        
        background-color: #FF9000 !important;
        color: white !important;
    
        
    }







}

.Thumbnail-image1 {
    background-image: url('https://res.cloudinary.com/dekbvdqnb/image/upload/v1635348411/priscilla-du-preez-XkKCui44iM0-unsplash_1_pd3v8t.png');
}

.Thumbnail-image2 {
    background-image: url('https://res.cloudinary.com/dekbvdqnb/image/upload/v1635349111/ben-white-4K2lIP0zc_k-unsplash_1_lew38n.png');

}

.Thumbnail-image3 {
    background-image: url('https://res.cloudinary.com/dekbvdqnb/image/upload/v1635349190/scott-graham-5fNmWej4tAA-unsplash_1_mcymci.png');

}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 450px) {


    .Thumbnail-parent {
        height: 75vh;
    }
    
    
    .Thumbnail {
        height: 60%;
        background-image: url("https://res.cloudinary.com/dekbvdqnb/image/upload/v1637149802/IMG_0133_1_hysqkh.png");
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
    
    }






}


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 767px) {

    .mobile-no-thumb {
        display: none;
    }






}
 */



 






