.hover--effect:hover{
    background-color: rgba(255, 138, 0, 1);
    color: #fff !important;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.active .title {
    background-color: rgba(255, 138, 0, 1);
    color: #fff;
    padding: 10px;
    transition: 0.3s;
    border-radius: 5px;
}

.dashboard {
    background-color: rgba(255, 138, 0, 1);
    color: #fff;
    padding: 10px;
    transition: 0.3s;
    border-radius: 5px;
}

.active .title--effect  {
    color: #fff;
    transition: 0.3s;
}