

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.section1 {
    /* background-image: url('https://res.cloudinary.com/not-set/image/upload/v1634900141/IMG_20210805_173028_746_1_vzx1n2.png'); */
    height: 100vh;
    width: 100vw;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 54vh;

}

.line3 {
    font-family: Roboto;
    font-style: Bold;
    font-size: 24px;
    line-height: 28px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .mobile-no {
        display: none;
    }

    .mute {
        height: 26px !important;
        margin-top: 175px !important;
    }

    .mute-mobile-yes {
        height: 26px !important;
        margin-top: 240px !important;

    }
    .digital-button-text {
        font-family: Roboto;
        font-style: Medium;
        font-size: 9px;
        
    }


}


.digital-button-text {
    font-family: Roboto;
    font-style: Medium;
    font-size: 1.8rem;
}






.mute2 {
    height: 33px;
    margin-top: 74%;
    float: right;
}

.mute {
    height: 33px;
    margin-top: 13%;
}


.line1 {
    font-family: Raleway;
    font-style: Bold;
    font-size: 36px;
    line-height: 42px;

}


.digital-image1 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643292731/1812217481_sq9y8v.png');


}

.digital-image2 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643292845/Rectangle_125_2_e3akui.png');
}

.digital-image3 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643291455/Rectangle_126_yoaiqq.png');
}

.digital-image4 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643291612/Rectangle_125_1_pqox1x.png');
}

.digital-image5 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643639187/Rectangle_125_3_irdax7.png');
}

.digital-image6 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643639173/Rectangle_127_pyagfu.png');
}

.digital-image7 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643639163/Rectangle_128_amvnn1.png');
}

.digital-image8 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1643721687/Rectangle_127_1_eonrnf.png');
}
