.pictur7{
    background-image: url("https://res.cloudinary.com/dekbvdqnb/image/upload/v1637152915/1812217481_tqzug6.png");
  width: 100%;
    height: 120vh;
    
              
  }
  .punchbox2 {
   
    top: 170%;
   
   
    /* text-align: center; */
}
.ft{
    height: 200px;
}
.br{
    border-radius: 30px;
}
.punchlines {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    
    color: #FFFFFF; 

}
.subline2 {
    line-height: 39px;
}

.veers{
    padding-top: 35%;
}