@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.section1 {
    background-image: url('https://res.cloudinary.com/not-set/image/upload/v1634900141/IMG_20210805_173028_746_1_vzx1n2.png');
    height: 100vh;
    width: 100vw;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 54vh;

}

.section2 {
    height: 100vh;
    width: 100vw;
}

.sm-1, .sm-2 {
    width: 50vw;
    /* width: 100%; */
}

.sm-divider {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.vertical-centering {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.section2-image {
    background-image: url("https://res.cloudinary.com/dekbvdqnb/image/upload/v1637149802/IMG_0133_1_hysqkh.png");
    height: 100vh;
    width: 50vw;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.mobile-yes {
    display: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .mobile-no {
        display: none;
    }

    .mobile-yes {
        display: block;
    }

    .section2-image-mobile {
        background-image: url("https://res.cloudinary.com/dekbvdqnb/image/upload/v1637149802/IMG_0133_1_hysqkh.png");
        height: 100vh;
        width: 100vw;
        background-position: center;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .vertical-centering {
        margin: 0;
        position: relative;
        top: 60%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .mute {
        height: 26px !important;
        margin-top: 175px !important;
    }

    .mute-mobile-yes {
        height: 26px !important;
        margin-top: 240px !important;

    }

    .line1 {
        font-family: Raleway !important;
        font-style: Bold !important;
        font-size: 25px !important;
        line-height: 35px !important;
    }
    
    .line2 {
        font-family: Poppins !important;
        font-style: Bold !important;
        font-size: 21px !important;
        line-height: 30px !important;
    }
    
    .line3 {
        font-family: Raleway !important;
        font-style: Bold !important;
        font-size: 15px !important;
        line-height: 24px !important;
    }



    .line5 {
        font-family: Raleway !important;
        font-style: Medium !important;
        font-size: 15px !important;
        line-height: 40px !important;
    }
    
    .line6, .line4 {
        font-family: Roboto !important;
        font-style: Bold !important;
        font-size: 25px !important;
        line-height: 32px !important;
    }
    


}









.italicize {
    font-style: italic !important;
}

.horizontal-centering {
    padding-left: 103px;
}

.mute {
    height: 33px;
    margin-top: 13%;
}

.mute2 {
    height: 33px;
    margin-top: 74%;
    float: right;
}

.line1 {
    font-family: Raleway;
    font-style: Bold;
    font-size: 38px;
    line-height: 48px
}

.line2 {
    font-family: Poppins;
    font-style: Bold;
    font-size: 33px;
    line-height: 42px;
}

.line3 {
    font-family: Raleway;
    font-style: Bold;
    font-size: 17px;
    line-height: 25px;
}

.line4 {
    font-family: Roboto;
    font-size: 40px;
    line-height: 47px;
}

.line5 {
    font-family: Raleway;
    font-style: Medium;
    font-size: 30px;
    line-height: 50px;
}

.line6 {
    font-family: Roboto;
    font-style: Bold;
    font-size: 38px;
    line-height: 44px;
}

